<div class="block-container">
    <button md-button>New Game</button>
</div>
<div class="block-container">
    <md-card>
        <md-card-title>Stored Games</md-card-title>
        <md-card-content>
            You don`t have any stored games...
        </md-card-content>
    </md-card>
</div>
<div class="block-container">
    <md-card>
        <md-card-title>LeadersSheet</md-card-title>
        <md-card-content>
            Here are no nothing to show...
        </md-card-content>
    </md-card>
</div>