<md-toolbar color="primary">
    <span>Sign in</span>
</md-toolbar>
<div class="auth-container">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm" novalidate>
        <div class="element-container">
            <md-input ngControl="email" placeholder="Email" type="email" required></md-input>
        </div>
        <div class="element-container">
            <md-input ngControl="password" placeholder="Password" type="password" required></md-input>
        </div>
        <div class="auth-form-actions layout">
            <button md-raised-button color="primary" [disabled]="!form.valid" class="normal-button">Sign in</button>
            <div class="full-width-space"></div>
            <p><a [routerLink]="['/account/sign-up']">Sign up</a></p>
        </div>
    </form>
</div>