<div class="block-container">
    <div>
        <div class="small-cards-container">
            <md-card class="card game-card">
                <md-card-title>My last game</md-card-title>
                <md-card-subtitle>23 may 2016 15:23</md-card-subtitle>
                <md-card-content>
                    <p>height: <span>13</span></p>
                    <p>digits: <span>16</span></p>
                </md-card-content>
            </md-card>
            <md-card class="card game-card">
                <md-card-title>My last game</md-card-title>
                <md-card-subtitle>23 may 2016 15:23</md-card-subtitle>
                <md-card-content>
                    <p>height: <span>13</span></p>
                    <p>digits: <span>16</span></p>
                </md-card-content>
            </md-card>
            <md-card class="card plus-card">
                <md-icon>plus</md-icon>
            </md-card>
        </div>
    </div>
</div>
<div class="block-container">
    <div>
        <h3>LeadersSheet</h3>
        <div>
            Here are nothing to show...
        </div>
    </div>
</div>