<div class="block-container">
    <div>
        <h3>Games</h3>
        <div class="small-cards-container">
            <md-card class="card">
                <md-card-subtitle>15:23 23 may 2016</md-card-subtitle>
                <md-card-content>
                    <p>height: <span>13</span></p>
                    <p>digits: <span>16</span></p>
                </md-card-content>
            </md-card>
            <md-card class="card">
                <md-card-title>This is card 2</md-card-title>
            </md-card>
            <md-card class="card">
                <md-card-title>This is card 3</md-card-title>
            </md-card>
            <md-card class="card">
                <md-card-title>This is card 4</md-card-title>
            </md-card>
            <md-card class="card">
                <md-card-title>This is card 5</md-card-title>
            </md-card>
            <md-card class="card">
                <md-card-title>This is card 6</md-card-title>
            </md-card>
            <md-card class="card">
                <md-card-title>This is card 7</md-card-title>
            </md-card>
        </div>
    </div>
</div>
<div class="block-container">
    <div>
        <h3>LeadersSheet</h3>
        <div>
            Here are no nothing to show...
        </div>
    </div>
</div>