<div class="block-container">
    <div>
        <div class="small-cards-container">
            <md-card class="card game-card">
                <md-card-title>My last game</md-card-title>
                <md-card-subtitle>23 may 2016 15:23</md-card-subtitle>
                <md-card-content>
                    <p>digits: <span>84</span> (left: 24)</p>
                    <p>lines: <span>9</span></p>
                </md-card-content>
            </md-card>
            <md-card class="card game-card">
                <md-card-title>My last game</md-card-title>
                <md-card-subtitle>23 may 2016 15:23</md-card-subtitle>
                <md-card-content>
                    <p>digits: <span>87</span> (left: 24)</p>
                    <p>lines: <span>13</span></p>
                </md-card-content>
            </md-card>
            <md-card class="card game-card">
                <md-card-title>My last game</md-card-title>
                <md-card-subtitle>23 may 2016 15:23</md-card-subtitle>
                <md-card-content>
                    <p>digits: <span>90</span> (left: 0)</p>
                    <p>lines: <span>13</span></p>
                </md-card-content>
            </md-card>
            <md-card class="card plus-card">
                <md-icon>plus</md-icon>
            </md-card>
        </div>
    </div>
</div>
<div class="block-container">
    <md-list class="leaders-sheet">
        <h3>LeadersSheet</h3>
        <md-list-item class="list-header">
            <p md-line class="leader-name">Name</p>
            <p md-line class="leader-date">Date</p>
            <p md-line class="leader-digits">Digits</p>
            <p md-line class="leader-lines">Lines</p>
        </md-list-item>
        <md-list-item>
            <p md-line class="leader-name">Viktor</p>
            <p md-line class="leader-date">23 may 2016 15:23</p>
            <p md-line class="leader-digits">74</p>
            <p md-line class="leader-lines">8</p>
        </md-list-item>
        <md-list-item>
            <p md-line class="leader-name">Lisa</p>
            <p md-line class="leader-date">23 may 2016 15:23</p>
            <p md-line class="leader-digits">85</p>
            <p md-line class="leader-lines">9</p>
        </md-list-item>
        <md-list-item>
            <p md-line class="leader-name">Mike</p>
            <p md-line class="leader-date">23 may 2016 15:23</p>
            <p md-line class="leader-digits">84</p>
            <p md-line class="leader-lines">9</p>
        </md-list-item>
        <md-list-item>
            <p md-line class="leader-name">Tom</p>
            <p md-line class="leader-date">23 may 2016 15:23</p>
            <p md-line class="leader-digits">86</p>
            <p md-line class="leader-lines">9</p>
        </md-list-item>
    </md-list>
</div>